<div id="head"> <a href="/"><h1>SAWIT Educate To Empower</h1></a> </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{{#if administrator}}
<div id="attend">
<table class="table" id="locationList"> 
  <!--button class="btn btn-primary" id="print">Print</button-->
<!--a href="/"><h1 align="center">SAWIT Learner Details</h1></a--> 
        
    <h4 class="text-center">Attendance Registe Plant Production NQF4</h4>  
    <div  class="dropdown">
    	<button type="button" class="dropbtn" >DropDown Search</button>
        <div class="dropdown-content">
          <a href="/Name">Search By Name</a>
          <a href="/surname">Search By SurName</a>
          <a href="/gender">Search By gender</a>
          <a href="/race">Search By Race</a>
          <a href="/Language">Search By Language</a>
          <a href="/address">Search By Address</a>
          <a href="/course">Search By Course</a>
          <a href="/location">Search By Location</a>
          <a href="/graduate">Search By Graduated</a>
          <a href="/facilitator">Search By Facilitators</a>
          <a href="/">Back to Main Menu</a>
          <a href="/learner">Back to Learners List</a>
          <a href="/lecturer">Back to Lecturers List</a>
        </div>
    </div>

    <button type="button" class="dropbtn" id="mainmenu" onclick="location.href='/'">Back To Main Menu</button>
    

  	</div> 
    
  		<form>
    		<input class ="searchBar" id ="locatesSearchBar" autocomplete="off" type ="text" name="attendance" value="{{location}}"></input>
   		</form> 

   		<span class="btn btn-info btn-lg" class="glyphicon glyphicon-search">Search</span> 
      
      <button type="button" class="btn" onclick="location.href='attendanceCaptureView'" class="col-xs-6" >
        Attended learner List
      </button>
      <button type="button" class="btn" onclick="location.href='date_add'" class="col-xs-6" >
        Set Date
      </button>
         
  		<thead>
       
           <div id="regist" ><h5>2017 Attendance Registe Plant Production NQF Level 4</h5></div>
       
      
      	<tr>
      			<th class=".col-md-2">Surname</th><th class=".col-md-2">Name</th><th class=".col-md-2">ID Number</th><th class=".col-md-2">Contact</th><th class=".col-md-2">Signature Morning</th><th class=".col-md-2">Signature Afternoon</th>
    		</tr>
        <tr>
            <th class=".col-md-2"></th><th class=".col-md-2"></th><th class=".col-md-2"></th><th class=".col-md-2"></th><th class=".col-md-2"></th><th class=".col-md-2">Date:</th>
            
            {{#events}}
             <th class=".col-md-1">{{date}}</th><th><a href="/attendance/deleteDate/{{id}}">Delete</a></th>
             {{/events}}

        </tr>
  		</thead>
		<tBody>
				{{#learner}} 
        
			<tr>
  				<td>{{surname}}</td><td>{{Name}}</td><td>{{Idnumber}}</td><td>{{phone}}</td><td></td><td></td>
			    <td></td><td><a href="/learner/signed/{{Idnumber}}">Signed</a></td>
      </tr>
				{{/learner}}
	</tbody> 
</table>
{{else}}
      <h1>SORRY, YOU HAVE TO BE ADMININISTRATOR!</h1>
{{/if}}
</div>
