<div id="head"> <a href="/"><h1>SAWIT Educate To Empower</h1></a> </div>
<div  id="edit">
<h2 class="text-center">Update Learner Placement</h2>
<button type="button" class="dropbtn" id="mainmenu" onclick="location.href='/placement'">Back To Placement List</button>

{{#data}}
<form id="formAdd" autocomplete="on" action="/placement/updatePlacement/{{Idnumber}}" method="Post">
  <div class="group">
  <input type="text" name="Idnumber" value="{{Idnumber}}">
    <label for="Idnumber">ID Number</label>
  </div>
  <div class="group">
    <input type="text" name="Name" value="{{Name}}">
    <label for="name">Name</label>
  </div>
  <div class="group">
    <input type="text" name="surname" value="{{surname}}">
    <label for="surname">Surname</label>
  </div>
  <div class="group">
    <input type="text" name="work_location" value="{{work_location}}">
    <label for="work_location">Work Location</label>
  </div>
  <div class="group">
    <input type="text" name="remuneration_amount" value="{{remuneration_amount}}">
    <label for="remuneration_amount">Remuneration Amount</label>
  </div>
  <div class="group">
    <input type="text" name="activities" value="{{activities}}">
    <label for="Activities">Activities</label>
  </div>
  <div class="group">
    <input type="date" name="month" value="{{month}}">
    <label for="month">Month</label>
  </div>

  <div class="group">
    <input type="text" name="sign_attendance" value="{{sign_attendance}}">
    <label for="sign_attendance">Sign Attendance</label>
  </div>
  <div class="btn">
    <input type="submit" value="Submit"><input action="action" type="submit" value="Cancel" onclick="history.go(-1);"/>
    
  </div>

</form>
{{/data}}
</div>