<table class="table" id="profilesList">
    <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Learner Interest</th>
        <th>Education Level</th>
        <th>Dependancy</th>
    </tr>                          
    {{#learner}} 
        <tr>
            <td>{{surname}}</td><td>{{Name}}</td><td>{{interest}}</td><td>{{education}}</td><td>{{dependancy}}</td>
        </tr>
    {{/learner}}               
</table>